<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/head.ejs') %>
   <title>Blogify App</title>
  </head>
  <body style="background-image: url('../images/istockphoto-1458843271-170667a.jpg');background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <form action="/blog/addblog" method="post" class="w-50 m-auto mt-5" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="image" class="form-label">Choose an image</label>
          <input class="form-control" type="file" id="image" accept="image/*" name="coverImageURL">
        </div>
        <div>
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title"/>
        </div>

        <div>
          <label for="content" class="form-label">Content</label>
          <textarea type="textarea" class="form-control" id="content" name="content" style="height: 100px"></textarea>
        </div>
        
       
        <button type="submit" class="btn btn-primary mt-3 bg-dark">Submit</button>
      </form>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
