<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>SignUp</title>
  </head>
  <body style="background-image: url('../images/istockphoto-1458843271-170667a.jpg');background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <form action="/user/signup" method="post" class="w-50 m-auto mt-5">
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputName1" name="fullName"/>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input type="email" class="form-control" id="exampleInputEmail1"  name="email" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary  bg-dark">Submit</button>
      </form>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
